* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
 }

 header {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 500px;
    padding: 15px;
 }

nav ul {
   display: flex;
   list-style-type: none;
   gap: 12px;
}

nav li a {
   text-decoration: none;
   color: white;
}

header h2 {
   color: white;
}