@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: "Poppins";
 }

#entete {
   background: radial-gradient(rgb(139, 195, 245), #1294b8);
   min-height: 838px;
}

 header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
 }

nav ul {
   display: flex;
   list-style-type: none;
   gap: 12px;
}

nav li a {
   text-decoration: none;
   color: white;
   font-size: 1.2em;
}

header h2 {
   color: white;
   margin-left: 50px;
   font-size: 2em;
}

header figure {
   display: flex;
   gap: 15px;
   margin-right: 50px;
}

#intro {
   display: flex;
   align-items: center;
   gap: 68px;
   margin: 140px;
}

#intro article {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

#intro article p {
   font-size: 1.7em;
}

#intro h1 {
   font-size: 2.7em;
}

#intro img {
   height: 500px;
}

#intro form {
   display: flex;
   align-items: center;
}

#intro .zone {
   border: none;
   min-height: 40px;
   border-radius: 50px;
   min-width: 400px;
   padding: 10px;

}

#intro .bouton {
   position: absolute;
   left: 447px;
   background-color: #1696ba;
   color: white;
   border-radius: 50px;
   font-size: 15px;
   padding: 5px;
   border: none;
}

/* *********************************************************** */

#product {
   height: 100vh;
   background-color: white;
}

#product article {
   text-align: center;
   margin: 2em 30em 4em;
}

.flexcard {
   display: flex;
   gap: 25px;
   margin: 2em 10em;
}
.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 350px;
   gap: 30px;
   background: radial-gradient(rgb(139, 195, 245), #1294b8);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   border-radius: 1em;
   transition: 0.4s;

}

.card:hover {
   transform: translateY(-7px);
}
.card p {
   text-align: center;
   color: white;
   margin: 0 20px;
}

.card h2 {
   color: white;
}

.card i {
   margin-bottom: 22px;
}

/* ********************************************************** */
#equipe {
}

.portrait {
   display: flex;
}

.portrait img {
   max-width: 150px;
   max-height: 150px;
}