@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: "Poppins";
}

#entete {
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 12px;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

header h2 {
  color: white;
  margin-left: 50px;
  font-size: 2em;
}

header figure {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}

#intro {
  display: flex;
  align-items: center;
  gap: 68px;
  margin: 140px;
}

#intro article {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#intro article p {
  font-size: 1.7em;
}

#intro h1 {
  font-size: 2.7em;
}

#intro img {
  height: 500px;
}

#intro form {
  display: flex;
  align-items: center;
}

#intro .zone {
  border: none;
  min-height: 40px;
  border-radius: 50px;
  min-width: 400px;
  padding: 10px;
}

#intro .bouton {
  position: absolute;
  left: 447px;
  background-color: #1696ba;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

/* *********************************************************** */

#product {
  height: 70vh;
  background-color: white;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  padding: 0 700px;
  margin: 5em 0 6em;
}

.flexcard {
  display: flex;
  gap: 25px;
  margin: 2em 10em;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  gap: 30px;
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1em;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-7px);
}
.card p {
  text-align: center;
  color: white;
  margin: 0 20px;
}

.card h2 {
  color: white;
}

.card i {
  margin-bottom: 22px;
}

/********************************************************/
.mini_text {
  height: 60vh;
  background-color: rgba(128, 128, 128, 0.047);
  text-align: center;
  padding-top: 5em;
}

.mini_text h1 {
  margin-bottom: 10px;
}

.mini_text p {
  padding: 0 700px;
}

/********************************************************/
#equipe {
  height: 100vh;
}

.ensemble_portrait {
  display: flex;
  justify-content: center;
  gap: 6em;
}

.portrait_individuel {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.portrait_entete {
  text-align: center;
  margin-bottom: 20px;
}

.photo {
  display: flex;
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
  border-radius: 150px;
}

.photo:hover .icone_photo {
  right: 237px;
  
}

.icone_photo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  top: 70px;
  right: 280px;
  transition: 0.7s;
}

.fb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.skype {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

#equipe img {
  max-width: 100%;
  max-height: 100%;
  filter: grayscale();
  transition: 0.5s;
  
}

#equipe img:hover {
  filter: none;
  transform: scale(1.07);
  
}

#equipe figcaption {
  max-width: 150px;
  text-align: center;
  margin-top: 10px;
}

/* ************************************************** */

#parallax {
  height: 60vh;
}

.parallax_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url(img/parallax.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(45%);
}

.parallax_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: -350px;
  text-align: center;
  color: white;
  padding: 0 410px;
}

.submit_button input {
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 10px;
  background: transparent;
  color: white;
  border: solid white;
  cursor: pointer;
  transition: 0.5s;
}

.submit_button input:hover {
  background-color: white;
  color: black;
  transform: translateY(-10px);
}

#our_blog {
  height: 100vh;
}

.mini_text_2 {
  height: 25vh;
  background-color: rgba(128, 128, 128, 0.047);
  text-align: center;
  padding-top: 5em;
}

.our_blog_ensemble_photo {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cadre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadre_header {
  max-width: 450px;
  max-height: 350px;
  position: relative;
}

.cadre_calque {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0;
  z-index: 1;
}

.cadre_header:hover .cadre_calque {
  z-index: 2;
  opacity: 1;
  transition: 0.8s;
}

.cadre_header_titre {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  top: -310px;
  right: -20px;
  color: white;
  max-width: 230px;
}

.cadre_header_date {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  top: -300px;
  right: -25px;
  color: white;
  max-width: 155px;
}

.cadre_text {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#our_blog h3 {
  color: rgb(18, 79, 159);
}

#our_blog img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

#our_blog img:hover {
  filter: brightness(50%);
  transition: 0.8s;
}




